header,footer{
  box-shadow: 2px 2px #eeeeee;
  background-color:#222222;
  color:#222222;
} 
#headerImg{
  width:120px;
  height:50px;
  padding:5px;
}
#headerImg:hover{
  width:240px;
  height:100px;
}
#footimg{
  padding-left:500px;
  margin: auto;
  width:250px;
  height:250px;
}
#footimg:hover{
 -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
footer:hover,header:hover{
  color:#ffffff;
}
