header,footer{
  box-shadow: 2px 2px #eeeeee;
  background-color:#222222;
  color:#222222;
} 
#headerImg{
  width:120px;
  height:50px;
  padding:5px;
}
#headerImg:hover{
  width:240px;
  height:100px;
}
#footimg{
  margin: auto;
  width:250px;
  height:250px;
}
#footimg:hover{
 -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
footer:hover,header:hover{
  color:#ffffff;
}
.server-action-menu {
    background-image: linear-gradient(to bottom, #636160 0%, #ffffff 100%);;
    background-repeat: repeat;
    border-radius:10px;
}
#serverhover:hover{
    background:#ffffff;
}
#btntxt{
  color:#ffffff;
}
